<div class="wrapbox">
  <div class="backwithshare grdbtn pt-20">
    <div class="innerbox">
      <div class="backbtn">
        <a (click)="closeSellerDetailSheet()"><img src="../../assets/image/svg/whiteback.svg" /></a>
      </div>

      <div class="pagetitle">Merchant Details</div>

      <div></div>
    </div>
  </div>

  <div class="seller_box pt-20">
    <div class="sellerprofile bg-white p-14 pr-0 pl-0 mb-10">
      <div class="container">
        <div class="sellername d-flex align-items-center gap7 mb-6">
          <div
            class="onetextdesing d-flex justify-content-center align-items-center textwhite sellerrating"
          >
            T
          </div>
          <h4 class="fontsize1618500">ClothingstarStore</h4>
          <img src="../../assets/image/svg/usa.svg" alt="" />
        </div>
        <div class="sellerrating grey2 mb-8">
          Clothingstar placed in London Uk
        </div>
        <div class="sellerrating d-flex align-items-center gap7">
          <img
            src="../../assets/image/svg/yellowrate.svg"
            alt=""
            height="15px"
            width="15px"
          />
          3.5 (1265 reviews)
        </div>
      </div>
    </div>

    <div class="sellerprofile bg-white p-14 pr-0 pl-0 mb-10">
      <div class="container">
        <div class="sellername mb-6">
          <h4 class="fontsize1418500">About Seller</h4>
        </div>
        <div class="fontsize1218400 grey2 mb-8">
          Clothingstar.com is committed to providing each customer with the
          highest standard of customer service
        </div>
      </div>
    </div>

    <div class="sellerprofile bg-white p-14 pr-0 pl-0 mb-10">
      <div class="container">
        <div class="sellername mb-10">
          <h4 class="fontsize1418500">
            Do you have a question for clothingstarstore?
          </h4>
        </div>
        <p class="d-flex align-items-center gap9 fontsizesm textblue mb-10">
          <img src="../../assets/image/svg/phone_blue.svg" alt="" /> +44 970 90831
        </p>
        <p class="d-flex align-items-center gap9 fontsizesm textblue mb-10">
          <img src="../../assets/image/svg/envolp_blue.svg" alt="" />
          clothingstarstore99@gmail.com
        </p>
        <p class="d-flex align-items-center gap9 fontsizesm textblue mb-10">
          <img src="../../assets/image/svg/whatsapp_blue.svg" alt="" /> +44 970 98520
        </p>
      </div>
    </div>

    <div class="sellerprofile bg-white p-14 pr-0 pl-0">
      <div class="container">
        <div class="sellername mb-10">
          <h4 class="fontsize1418500">Feedback</h4>
        </div>
        <div class="table table1">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>30 days</th>
                <th>90 days</th>
                <th>12 Months</th>
                <th>Lifetime</th>
              </tr>
            </thead>
            <tbody>
              <tr class="positive">
                <td>Positive</td>
                <td>92%</td>
                <td>92%</td>
                <td>86%</td>
                <td>92%</td>
              </tr>
              <tr class="neutral">
                <td>Neutral</td>
                <td>92%</td>
                <td>92%</td>
                <td>86%</td>
                <td>92%</td>
              </tr>
              <tr class="negative">
                <td>Negative</td>
                <td>92%</td>
                <td>92%</td>
                <td>86%</td>
                <td>92%</td>
              </tr>
              <tr class="count">
                <td>Count</td>
                <td>3312</td>
                <td>10786</td>
                <td>58540</td>
                <td>601,938</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="sellerprofile bg-white p-14 pr-0 pl-0 mt-10">
      <div class="container">
        <div class="sellername mb-10">
          <h4 class="fontsize1418500">Reviews</h4>
        </div>
        <div class="sellerreview">
          <div class="reviewitem mb-20">
            <img src="../../assets/image/svg/review.svg" alt="" />
            <p class="sellerrating mb-10">
              I’m very satisfied with hoodie, I remember being surprised by
              the quality of the fabric was absolutely unlike anything that
              I had ever felt.
            </p>
            <p class="fontsize1218400 grey2">
              By Kathryn Thornton on 21 sept 2022
            </p>
          </div>
          <div class="reviewitem">
            <img src="../../assets/image/svg/review.svg" alt="" />
            <p class="sellerrating mb-10">
              I’m very satisfied with hoodie, I remember being surprised by
              the quality of the fabric was absolutely unlike anything that
              I had ever felt.
            </p>
            <p class="fontsize1218400 grey2">
              By Kathryn Thornton on 21 sept 2022
            </p>
          </div>
        </div>
      </div>
      <hr class="mt-20 mb-10" />

      <a
        href="#"
        class="block text-center textblue decoration-none fontsize1215600"
        >View all 86 reviews</a
      >
    </div>
  </div>
</div>
