<div class="wrapbox" *ngIf="!isConfirm && !enableChangePassword">
  <div class="container text-center mt-148">
     <img src="../../assets/image/svg/resetpasswordimage.svg" alt="" />
  </div>
 <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()" autocomplete="off">
    <section>
       <div class="container mt-52">
          <div class="contentblock text-center mb-52">
             <h2 class="text-center lgheading mb-5">Reset Password</h2>
             <p class="fontsizemd grey2">
                Enter your email and we’ll send you a code<br />
                to reset your password
             </p>
             <div class="text-danger">{{errorMessage}}</div>
          </div>

          <div class="container">
            <mat-form-field class="input-field" floatLabel="always">
              <mat-label>Email Address</mat-label>
              <input
              matInput
              class="inputclass"
              placeholder="samwilliam12@gmail.com"
              formControlName ="email"
              >
              <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email') && !forgotPasswordForm.get('email')?.hasError('required')">
                 Please Enter Valid Email Id.
              </mat-error>
              <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
                 Email is <strong>required</strong>
              </mat-error>
           </mat-form-field>
          </div>
          <mat-progress-bar *ngIf="showProgressBar" class="loading" mode="indeterminate"></mat-progress-bar>
          <button type="submit" [disabled]="!forgotPasswordForm.valid" class="grdbtn button_xl w-100 mb-20 mt-30">Submit</button>
       </div>
    </section>
 </form>
</div>

<!-------- Reset Password OTP Section Start---------->
<div class="wrapbox" *ngIf="isConfirm && !enableChangePassword">
 <app-otp-verification (resetPasswordCode)="getResetPasswordCode($event)" [maskEmail]="maskEmail" [userEmail]="email" [errorMessage]="errorMessage"></app-otp-verification>
</div>
<!-------- Reset Password Section Start---------->
<div *ngIf="enableChangePassword">
 <app-reset-password (changePassword)="submitResetPassword($event)" [maskEmail]="maskEmail" [userEmail]="email"></app-reset-password>
</div>
