<div class="already_a_customer">
  <img src="../../../assets/image/svg/backwall.svg" alt="backwall" class="backwall" />
  <img src="../../../assets/image/svg/tv.svg" alt="tvimage" class="tvimage" />
  <img
    src="../../../assets/image/svg/tvtomobile.svg"
    alt="tvtomobile"
    class="tvtomobile"
  />
</div>
<div class="wrapbox">
  <div class="brandbox2">
    <div class="imagelogo2">
      <img src="../../../assets/image/svg/brandnamexxl.svg" alt="" />
      <h2 class="fontsize24 textwhite">See it. Love it. Buy it!</h2>
    </div>
  </div>

  <div class="container mt-60">
    <div class="socialboz sociallistlog">
      <div class="socialiconbox">
        <a (click)="googleSignIn()">
          <img src="../../../assets/image/svg/google.svg" alt="" />
          <p>Continue with Google</p>
        </a>
      </div>
      <div class="socialiconbox">
        <a (click)="facebookSignIn()">
          <img src="../../../assets/image/svg/facebook.svg" alt="" />
          <p>Continue with Facebook</p>
        </a>
      </div>
      <div class="socialiconbox">
        <a href="#">
          <img src="../../../assets/image/svg/apple.svg" alt="" />
          <p>Continue with Apple</p>
        </a>
      </div>
      <div class="socialiconbox">
        <a routerLink="/authentication/customer-sign-up">
           <img src="../../../assets/image/svg/envolp.svg" alt="" />
           <p>Continue with Email</p>
        </a>
      </div>
    </div>
  </div>
</div>
