<div class="footermenu">
  <div class="container">
    <ul class="navmenu">
      <li class="active" routerLink="/main/home">
        <div class="img">
          <img src="../../assets/image/svg/home.svg" alt="" />
        </div>
        <div class="menutext">Home</div>
      </li>
      <li routerLink="/main/discover">
        <div class="img">
          <img src="../../assets/image/svg/Discover.svg" alt="" />
        </div>
        <div class="menutext">Discover</div>
      </li>
      <li class="logomenu" routerLink="/main/home">
        <div class="imglogobox">
          <div class="imglogo">
            <img src="../../assets/image/svg/Vuugle_It_bg.svg" alt="" class="bg" />
            <img src="../../assets/image/svg/Vuugle_It.svg" alt="" class="logo" />
          </div>
        </div>
        <div class="menutext">Vuugle It</div>
      </li>
      <li routerLink="/main/wishlist">
        <div class="img">
          <img src="../../assets/image/svg/Wishlist.svg" alt="" />
          <span>6</span>
        </div>
        <div class="menutext">Wishlist</div>
      </li>
      <li routerLink="/main/my-orders">
        <div class="img">
          <img src="../../assets/image/svg/My_Orders.svg" alt="" />
          <span>1</span>
        </div>
        <div class="menutext">My Orders</div>
      </li>
    </ul>
  </div>
</div>
