<div class="wrapbox">
  <div class="backwithshare grdbtn pt-27">
     <div class="innerbox">
        <div class="usericon" id="sidebarbtn"> <a href="#" class="usericoninner"> <img src="../../assets/image/svg/home.svg" /> </a> </div>
        <div class="pagetitle pos_center"> <img src="../../assets/image/svg/whitebrand_name.svg" alt="" /> </div>
        <div class="rightsideoption">
           <div class="cartbtn"> <img src="../../assets/image/svg/whitecart.svg" alt="" /> <span class="num">2</span> </div>
           <div class="notification"> <img src="../../assets/image/svg/whitenotfication.svg" alt="" /> </div>
        </div>
     </div>
  </div>
  </div>
  <div class="tab1 mb-64">
     <mat-tab-group>
        <mat-tab label="All">
           <div class="container">
              <div class="ordersection mb-10">
                 <div class="d-flex justify-content-between mb-10">
                    <div class="fontsize1616500 black">Ordered on</div>
                    <div class="fontsize1616 grey2">22 Aug, 22</div>
                 </div>
                 <div class="fontsize1416400 grey2">Order ID ff666879</div>
              </div>
              <div class="bg-white radius-10 pb-20 pt10 pl-10 pr-10 mb-20">
                 <div class="orderv2 relative d-flex mb-20 gap10">
                    <div class="image" routerLink="/main/order-detail"> <img src="../../assets/image/img/tuxedo.png" alt="" /> </div>
                    <div class="content">
                       <h4 class="fontsize1416600 black mb-6" routerLink="/main/order-detail">Tuxedo</h4>
                       <span class="badge badge_delivered">Delivered</span>
                       <div class="fontsize1416600 grey2 mt-6 mb-6"> Rate this product </div>
                       <ul class="onelinefivereview mb-10" id="WriteReview">
                          <li><img src="../../assets/image/svg/outlineblankrate.svg" alt="" /></li>
                          <li><img src="../../assets/image/svg/outlineblankrate.svg" alt="" /></li>
                          <li><img src="../../assets/image/svg/outlineblankrate.svg" alt="" /></li>
                          <li><img src="../../assets/image/svg/outlineblankrate.svg" alt="" /></li>
                          <li><img src="../../assets/image/svg/outlineblankrate.svg" alt="" /></li>
                       </ul>
                       <div class="moviename mb-8"> <img src="../../assets/image/svg/movieicon.svg" alt="" /> <span>The Grey Man</span> </div>
                       <div
                          class="fontsize1218500 grey2 d-flex gap7 align-items-center"
                          > Seller: <span class="black">ClothingstarStore</span> <img src="../../assets/image/svg/usa.svg" alt="" /> </div>
                    </div>
                    <a href="#" class="nextpage"
                       ><img src="../../assets/image/svg/blcakback.svg" alt=""
                       /></a>
                 </div>
                 <div class="d-flex gap10"> <a
                    routerLink="/main/order-detail"
                    class="grdbtn buttn w-full decoration-none text-center"
                    >Return</a
                    > <a
                    routerLink="/main/order-detail"
                    class="outline_btn_purple decoration-none buttn w-full justify-content-center text-center"
                    >Exchange</a
                    > </div>
              </div>
              <div class="bg-white radius-10 pb-20 pt10 pl-10 pr-10">
                 <div class="orderv2 relative d-flex mb-20 gap10">
                    <div class="image"> <img src="../../assets/image/img/owl_ring_blue.png" alt="" /> </div>
                    <div class="content">
                       <h4 class="fontsize1416600 black mb-6">Owl Ring Blue</h4>
                       <span class="badge badge_shipped">Shipped</span>
                       <div class="fontsize1416500 grey2 mt-6 mb-6"> Expected Delivery on 25 Oct </div>
                       <div class="moviename mb-8"> <img src="../../assets/image/svg/movieicon.svg" alt="" /> <span>The Grey Man</span> </div>
                       <div
                          class="fontsize1218500 grey2 d-flex gap7 align-items-center"
                          > Seller: <span class="black">Solestage_official</span> <img src="../../assets/image/svg/usa.svg" alt="" /> </div>
                    </div>
                    <a href="#" class="nextpage"
                       ><img src="../../assets/image/svg/blcakback.svg" alt=""
                       /></a>
                 </div>
                 <div class="d-flex gap10"> <a
                    href="#"
                    class="grdbtn buttn w-full decoration-none text-center"
                    >Track</a
                    > <a
                    href="#"
                    class="outline_btn_purple decoration-none buttn w-full justify-content-center text-center"
                    >Cancel Order</a
                    > </div>
              </div>
           </div>
        </mat-tab>
        <mat-tab label="On the Way">
           <section id="tab2C" class="pt-20 pb-20">
              <div class="container">sdfsdfs</div>
           </section>
        </mat-tab>
        <mat-tab label="Delivered">
           <section id="tab3C" class="pt-20 pb-20">
              <div class="container">sdfsfsdsdf</div>
           </section>
        </mat-tab>
     </mat-tab-group>
  </div>
<app-main-footer></app-main-footer>
