<section>
  <div class="container pt-20">
    <h3 class="fontsize1616500 mb-20">Trending</h3>
    <h4 class="fontsize1416 mb-10">Shows/Movies</h4>
    <div class="itemslist">
      <div class="items" routerLink="/main/vuugle-results">
        <div class="img">
          <img src="../../assets/image/img/Avengers.png" alt="" />
        </div>
        <div class="text">Avengers</div>
      </div>
      <div class="items">
        <div class="img">
          <img src="../../assets/image/img/Dr_Strange.png" alt="" />
        </div>
        <div class="text">Dr Strange</div>
      </div>
      <div class="items">
        <div class="img">
          <img src="../../assets/image/img/The_Tourist.png" alt="" />
        </div>
        <div class="text">The Tourist</div>
      </div>
      <div class="items">
        <div class="img">
          <img src="../../assets/image/img/Avengers.png" alt="" />
        </div>
        <div class="text">Avengers</div>
      </div>
      <div class="items">
        <div class="img">
          <img src="../../assets/image/img/Dr_Strange.png" alt="" />
        </div>
        <div class="text">Dr Strange</div>
      </div>
      <div class="items">
        <div class="img">
          <img src="../../assets/image/img/The_Tourist.png" alt="" />
        </div>
        <div class="text">The Tourist</div>
      </div>
    </div>
  </div>
</section>
