<div class="wrapbox">
  <div class="backwithshare grdbtn pt-20">
    <div class="innerbox">
      <div class="backbtn">
        <a (click)="closeSellerSheet()"><img src="../../assets/image/svg/whiteback.svg" /></a>
      </div>

      <div class="pagetitle">Select Seller/Merchant</div>

      <div></div>
    </div>
  </div>

  <section class="pt-20 pb-20">
    <div class="container text-right">
      <a
        href="#"
        id="Sort_by"
        class="outline_btn_purple d-flex align-items-center gap7 decoration-none ml-auto mr-0 w-fit-content smallbtn"
        ><img src="../../assets/image/svg/fittericonblue.svg" alt="" />Sort by
      </a>
    </div>
  </section>

  <section class="bg-white pt-16 pb-16 mb-20">
    <div class="container">
      <div class="sellerinfo">
        <div
          class="d-flex justify-content-between align-items-center mb-10"
        >
          <div class="lang">
            <input type="checkbox" /> <div (click)="openSellerDetailSheet()">Farfetech</div>
            <img src="../../assets/image/img/flag-uk.png" alt="" />
          </div>
          <div class="sellerrating">
            4.8 <img src="../../assets/image/svg/yellowStar.svg" alt="" /> (1305)
          </div>
        </div>

        <div
          class="d-flex justify-content-between align-items-center mb-10"
        >
          <div class="priceing">£177.00</div>
          <div class="soldtext">
            <img src="../../assets/image/svg/verify.svg" alt="" /> 400 Sold in last 3
            months
          </div>
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <div class="deliveryinfo">
            <img src="../../assets/image/svg/Frame.svg" alt="" /> Expected Delivery 25
            Oct
          </div>
          <div class="returnable">7 Days Returnable</div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white pt-16 pb-16 mb-20">
    <div class="container">
      <div class="sellerinfo">
        <div
          class="d-flex justify-content-between align-items-center mb-10"
        >
          <div class="lang">
            <input type="checkbox" /> <div (click)="openSellerDetailSheet()">Bergdorf Goodman</div>
            <img src="../../assets/image/img/flag-uk.png" alt="" />
          </div>
          <div class="sellerrating">
            4.8 <img src="../../assets/image/svg/yellowStar.svg" alt="" /> (1305)
          </div>
        </div>

        <div
          class="d-flex justify-content-between align-items-center mb-10"
        >
          <div class="priceing">£177.00</div>
          <div class="soldtext">
            <img src="../../assets/image/svg/verify.svg" alt="" /> 400 Sold in last 3
            months
          </div>
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <div class="deliveryinfo">
            <img src="../../assets/image/svg/Frame.svg" alt="" /> Expected Delivery 25
            Oct
          </div>
          <div class="returnable">7 Days Returnable</div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white pt-16 pb-16 mb-20">
    <div class="container">
      <div class="sellerinfo">
        <div
          class="d-flex justify-content-between align-items-center mb-10"
        >
          <div class="lang">
            <input type="checkbox" /> <div (click)="openSellerDetailSheet()">Hayuts</div>
            <img src="../../assets/image/img/flag-uk.png" alt="" />
          </div>
          <div class="sellerrating">
            4.8 <img src="../../assets/image/svg/yellowStar.svg" alt="" /> (1305)
          </div>
        </div>

        <div
          class="d-flex justify-content-between align-items-center mb-10"
        >
          <div class="priceing">£177.00</div>
          <div class="soldtext">
            <img src="../../assets/image/svg/verify.svg" alt="" /> 400 Sold in last 3
            months
          </div>
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <div class="deliveryinfo">
            <img src="../../assets/image/svg/Frame.svg" alt="" /> Expected Delivery 25
            Oct
          </div>
          <div class="returnable">7 Days Returnable</div>
        </div>
      </div>
    </div>
  </section>
</div>
