<div class="wrapbox">
  <div class="backwithshare">
    <div class="innerbox">
      <div class="backbtn"> <a href="#"><img src="../../assets/image/svg/back.svg" /></a> </div>
      <ul class="actionbtn">
        <li> <a href="#"
                ><img
                  src="../../assets/image/svg/2wishlisticon.svg"
                  width="20px"
                  height="20px"
              /></a> </li>
        <li> <a href="#"><img src="../../assets/image/svg/sher.svg" /></a> </li>
      </ul>
    </div>
  </div>
  <div class="productimage">
    <div class="productimageslider">
      <div class="items"><img src="../../assets/image/img/1.jpg" /></div>
    </div>
  </div>
  <div class="product_details_box">
    <div class="productname">
      <h1 class="producttitle">Emporio Armani White Shirt</h1>
      <div class="rating"> <span>4.2</span>
        <div class="starimg"> <img src="../../assets/image/svg/whitestar.svg" alt="whitestar" /> </div>
      </div>
    </div>
    <div class="details">
      <p class="desc"> Emporio Armani is the best-loved White Shirt. This classic plain
        shirt... </p>
    </div>
    <div class="price">£177.00 - £182.00</div>
    <div class="sellers" id="sellersshow" (click)="openSellerSheet()">
      Available from 3 sellers
    </div>
    <hr class="m--14" />
    <div class="cartbox">
      <div class="boxheading">
        <h3>Size</h3>
      </div>
      <div class="productoption">
        <ul class="sizeoption">
          <li>XS</li>
          <li>S</li>
          <li>M</li>
          <li>L</li>
          <li>XL</li>
        </ul>
      </div>
      <div class="d-flex gap20 justify-content-between">
        <button class="grdbtn buttn" routerLink="/order/order-summary">Buy Now</button>
        <button class="outlinewithimage buttn"> <img src="../../assets/image/svg/cart.svg" alt="whitestar" /> Add to Cart </button>
      </div>
    </div>
  </div>
  <div class="Featuredbox">
    <div class="heading2">
      <h3 class="fontsize1616 mb-15 mt-15 black">You may also like</h3>
    </div>
    <div class="productitemslist">
      <div class="items">
        <div class="wishlisticon"> <img src="../../assets/image/svg/2wishlisticon.svg" alt="wishlist-icon" /> </div>
        <div class="image"> <img src="../../assets/image/img/2.jpg" alt="2" /> </div>
        <div class="textblock">
          <h4 class="productname">The Macallan Fine & Rare 1962</h4>
          <div class="pricebox">
            <div class="price">£ 7500.00</div>
            <a href="#">Buy Now</a> </div>
        </div>
      </div>
      <div class="items">
        <div class="wishlisticon"> <img src="../../assets/image/svg/2wishlisticon.svg" alt="wishlist-icon" /> </div>
        <div class="image"> <img src="../../assets/image/img/2.jpg" alt="2" /> </div>
        <div class="textblock">
          <h4 class="productname">The Macallan Fine & Rare 1962</h4>
          <div class="pricebox">
            <div class="price">£ 7500.00</div>
            <a href="#">Buy Now</a> </div>
        </div>
      </div>
      <div class="items">
        <div class="wishlisticon"> <img src="../../assets/image/svg/2wishlisticon.svg" alt="wishlist-icon" /> </div>
        <div class="image"> <img src="../../assets/image/img/2.jpg" alt="2" /> </div>
        <div class="textblock">
          <h4 class="productname">The Macallan Fine & Rare 1962</h4>
          <div class="pricebox">
            <div class="price">£ 7500.00</div>
            <a href="#">Buy Now</a> </div>
        </div>
      </div>
      <div class="items">
        <div class="wishlisticon"> <img src="../../assets/image/svg/2wishlisticon.svg" alt="wishlist-icon" /> </div>
        <div class="image"> <img src="../../assets/image/img/2.jpg" alt="2" /> </div>
        <div class="textblock">
          <h4 class="productname">The Macallan Fine & Rare 1962</h4>
          <div class="pricebox">
            <div class="price">£ 7500.00</div>
            <a href="#">Buy Now</a> </div>
        </div>
      </div>
      <div class="items">
        <div class="wishlisticon"> <img src="../../assets/image/svg/2wishlisticon.svg" alt="wishlist-icon" /> </div>
        <div class="image"> <img src="../../assets/image/img/2.jpg" alt="2" /> </div>
        <div class="textblock">
          <h4 class="productname">The Macallan Fine & Rare 1962</h4>
          <div class="pricebox">
            <div class="price">£ 7500.00</div>
            <a href="#">Buy Now</a> </div>
        </div>
      </div>
      <div class="items">
        <div class="wishlisticon"> <img src="../../assets/image/svg/2wishlisticon.svg" alt="wishlist-icon" /> </div>
        <div class="image"> <img src="../../assets/image/img/2.jpg" alt="2" /> </div>
        <div class="textblock">
          <h4 class="productname">The Macallan Fine & Rare 1962</h4>
          <div class="pricebox">
            <div class="price">£ 7500.00</div>
            <a href="#">Buy Now</a> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Featuredbox">
    <div class="heading2">
      <h3 class="fontsize1616 mb-15 mt-15 black">Featured In</h3>
    </div>
    <div class="productitemslist Featureditems m0">
      <div class="items">
        <div class="image"> <img src="../../assets/image/img/a.svg" alt="2" /> </div>
        <div class="textblock">
          <h4 class="productname">Avengers</h4>
        </div>
      </div>
      <div class="items">
        <div class="image"> <img src="../../assets/image/img/a.svg" alt="2" /> </div>
        <div class="textblock">
          <h4 class="productname">Avengers</h4>
        </div>
      </div>
      <div class="items">
        <div class="image"> <img src="../../assets/image/img/a.svg" alt="2" /> </div>
        <div class="textblock">
          <h4 class="productname">Avengers</h4>
        </div>
      </div>
      <div class="items">
        <div class="image"> <img src="../../assets/image/img/a.svg" alt="2" /> </div>
        <div class="textblock">
          <h4 class="productname">Avengers</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="Featuredbox">
    <div class="heading2">
      <h3 class="fontsize1616 mb-15 mt-15 black">Rating and Reviews</h3>
    </div>
    <div class="ratingboxcont">
      <div class="ratingcount">
        <div class="bigtext">4.3</div>
        <div class="smalltext">23 rating</div>
      </div>
      <div class="ratinglist">
        <ul>
          <li class="five star">
            <div class="starouter">
              <div class="starimage"> <img src="../../assets/image/svg/yellowStar.svg" /> <img src="../../assets/image/svg/yellowStar.svg" /> <img src="../../assets/image/svg/yellowStar.svg" /> <img src="../../assets/image/svg/yellowStar.svg" /> <img src="../../assets/image/svg/yellowStar.svg" /> </div>
            </div>
            <div class="prosbar">
              <div class="bar100"></div>
            </div>
            <div class="ratcount">12</div>
          </li>
          <li class="four star">
            <div class="starouter">
              <div class="starimage"> <img src="../../assets/image/svg/yellowStar.svg" /> <img src="../../assets/image/svg/yellowStar.svg" /> <img src="../../assets/image/svg/yellowStar.svg" /> <img src="../../assets/image/svg/yellowStar.svg" /> </div>
            </div>
            <div class="prosbar">
              <div class="bar40"></div>
            </div>
            <div class="ratcount">5</div>
          </li>
          <li class="three star">
            <div class="starouter">
              <div class="starimage"> <img src="../../assets/image/svg/yellowStar.svg" /> <img src="../../assets/image/svg/yellowStar.svg" /> <img src="../../assets/image/svg/yellowStar.svg" /> </div>
            </div>
            <div class="prosbar">
              <div class="bar30"></div>
            </div>
            <div class="ratcount">3</div>
          </li>
          <li class="two star">
            <div class="starouter">
              <div class="starimage"> <img src="../../assets/image/svg/yellowStar.svg" /> <img src="../../assets/image/svg/yellowStar.svg" /> </div>
            </div>
            <div class="prosbar">
              <div class="bar20"></div>
            </div>
            <div class="ratcount">2</div>
          </li>
          <li class="one star">
            <div class="starouter">
              <div class="starimage"> <img src="../../assets/image/svg/yellowStar.svg" /> </div>
            </div>
            <div class="prosbar">
              <div class="bar10"></div>
            </div>
            <div class="ratcount">0</div>
          </li>
        </ul>
      </div>
    </div>
    <section class="bg-white pt-16"> <a
            href="#"
            class="outline_btn_purple button_xl block text-center fontsize1624600 decoration-none"
            >Write a Review</a
          >
      <hr class="m--14 mt-37" />
    </section>
  </div>
  <div class="ratingbox">
    <div class="productreview">
      <div class="reviewlist">
        <div class="userimage"> <img
                src="../../assets/image/svg/user2.svg"
                height="40"
                width="40"
                alt="user"
              /> </div>
        <div class="reviewcontent">
          <div class="name back">Kathryn Thornton</div>
          <div class="reviewimage"> <img src="../../assets/image/svg/review.svg" alt="" /> </div>
          <div class="content">
            <p>Pretty good for the price. Recommend to my friends.</p>
          </div>
        </div>
      </div>
      <div class="reviewlist">
        <div class="userimage"> <img
                src="../../assets/image/svg/avatar-default.jpg"
                style="background: #ccc"
                height="40"
                width="40"
                alt="user"
              /> </div>
        <div class="reviewcontent">
          <div class="name">Sarah B</div>
          <div class="reviewimage"> <img src="../../assets/image/svg/review.svg" alt="" /> </div>
          <div class="content">
            <p> Awesome item and good quality. Everything is exactly the way I
              was expecting for. </p>
          </div>
        </div>
      </div>
    </div>
    <a
          href="#"
          class="textblue fontsize1215600 text-center decoration-none mt-20 block"
          >View all 86 reviews</a
        > </div>
  <section class="bg-white mt-10 pt-20 pb-20">
    <div class="container">
      <h2 class="fontsize1616 mb-10 back">Product Details</h2>
      <h3 class="fontsize1416 mb-10 back">Material</h3>
      <p class="fontsize1424400 back"> Crafted of certified organic cotton made without the use of harmful
        chemical fertilizers and pesticides, this t-shirt is part of Coach
        Forever, a collection inspired by our commitment to rethinking and
        reducing our impact on the planet. </p>
      <hr class="m--14 mt-20 mb-20" />
      <h3 class="fontsize1416 mb-10 back">Product Code</h3>
      <p class="textblue fontsize1416600">14578452</p>
      <hr class="m--14 mt-20 mb-20" />
      <h3 class="fontsize1416 mb-10 back">Brand</h3>
      <p class="fontsize1424400 back"> New Season - Valentino <br />
        logo-print T-shirt </p>
      <hr class="m--14 mt-20 mb-20" />
      <h3 class="fontsize1416 mb-10 back">Other Details</h3>
      <ul class="listscr">
        <li>Black</li>
        <li>Cotton</li>
        <li>Round neck</li>
        <li>Logo print at the chest</li>
        <li>Jersey knit</li>
        <li>Straight hem</li>
        <li>Short sleeves</li>
      </ul>
    </div>
  </section>
</div>

