<div class="wrapbox">
  <div class="backwithshare grd2 pt-20">
    <div class="innerbox">
      <div class="backbtn">
        <a href="#"><img src="../../assets/image/svg/whiteback.svg" /></a>
      </div>

      <div class="pagetitle">Order Details</div>

      <div></div>
    </div>
  </div>

  <div class="orderdetailsv2 mt-20 mb-20 bg-white pt10 pb-20">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center mb-15">
        <div class="fontsize1416400 grey2 d-flex gap5 align-items-center">
          Order ID ff666879 <img src="../../assets/image/svg/copyicon.svg" alt="" />
        </div>
        <div class="fontsize1416400 Blue">Download Invoice</div>
      </div>
      <div class="d-flex justify-content-between align-items-center mb-18">
        <div class="fontsize1616500 green_dark">Delivered on</div>
        <div class="fontsize1416400 Blue">22 Aug, 22</div>
      </div>

      <div class="orderv2 relative d-flex mb-20 gap10">
        <div class="image">
          <img src="../../assets/image/img/tuxedo.png" alt="" />
        </div>
        <div class="content">
          <h4 class="fontsize1616600 black mb-8">$176.00</h4>
          <div class="fontsize1416500 grey2 mb-8">Tuxedo</div>
          <div class="fontsize1416500 grey2 mb-8">Size: L</div>
          <div class="fontsize1416500 grey2 mb-8">Qty: 1</div>

          <div class="moviename mb-8">
            <img src="../../assets/image/svg/movieicon.svg" alt="" />
            <span>The Grey Man</span>
          </div>
        </div>
      </div>

      <hr class="m--14 mt-20 mb-20" />

      <div class="fontsize1616500 black mb-10">Rate this Product</div>
      <ul class="onelinefivereview mb-10" id="WriteReview">
        <li><img src="../../assets/image/svg/outlineblankrate.svg" alt="" /></li>
        <li><img src="../../assets/image/svg/outlineblankrate.svg" alt="" /></li>
        <li><img src="../../assets/image/svg/outlineblankrate.svg" alt="" /></li>
        <li><img src="../../assets/image/svg/outlineblankrate.svg" alt="" /></li>
        <li><img src="../../assets/image/svg/outlineblankrate.svg" alt="" /></li>
      </ul>
      <hr class="m--14 mt-20 mb-20" />
      <div class="fontsize1616500 black mb-10">Seller Info</div>
      <div
        class="fontsize1218500 grey2 d-flex gap7 align-items-center mb-13"
      >
        Seller:
        <span class="black">ClothingstarStore</span>
        <img src="../../assets/image/svg/usa.svg" alt="" />
      </div>
      <div class="fontsize1216500 black mb-18">Contact Seller</div>
      <div class="d-flex gap7">
        <a
          href="#"
          class="outline_btn_grey decoration-none buttn w-full justify-content-center d-flex gap4 align-items-center text-center"
          ><img src="../../assets/image/svg/phone_grey.svg" alt="" /> Call</a
        >
        <a
          href="#"
          class="outline_btn_grey decoration-none buttn w-full justify-content-center d-flex gap4 align-items-center text-center"
          ><img src="../../assets/image/svg/envolp_grey.svg" alt="" /> Email</a
        >
        <a
          href="#"
          class="outline_btn_grey decoration-none buttn w-full justify-content-center d-flex gap4 align-items-center text-center"
          ><img src="../../assets/image/svg/whatsapp_grey.svg" alt="" /> WhatsApp</a
        >
      </div>
    </div>
  </div>

  <div class="bg-white radius-10 pb-20 pt10">
    <div class="container">
      <div class="fontsize1616500 black mb-18">Shipped</div>
      <div class="orderv2 relative d-flex mb-20 gap10">
        <div class="image">
          <img src="../../assets/image/img/owl_ring_blue.png" alt="" />
        </div>
        <div class="content">
          <h4 class="fontsize1416600 black mb-6">Owl Ring Blue</h4>
          <span class="badge badge_shipped">Shipped</span>
          <div class="fontsize1416500 grey2 mt-6 mb-6">
            Expected Delivery on 25 Oct
          </div>

          <div class="moviename mb-8">
            <img src="../../assets/image/svg/movieicon.svg" alt="" />
            <span>The Grey Man</span>
          </div>
          <div class="fontsize1218500 grey2 d-flex gap7 align-items-center">
            Seller:
            <span class="black">Solestage_official</span>
            <img src="../../assets/image/svg/usa.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="d-flex gap10">
        <a href="#" class="grdbtn buttn w-full decoration-none text-center"
          >Track</a
        >
        <a
          href="#"
          class="outline_btn_purple decoration-none buttn w-full justify-content-center text-center"
          >Cancel Order</a
        >
      </div>
    </div>
  </div>

  <div class="bg-white mt-20 pt-20 pb-10 mb-20">
    <div class="container">
      <div class="fontsize1616500 black mb-8">Order Details</div>
      <div class="d-flex align-items-center justify-content-between mb-10">
        <div class="fontsize1416 grey2">Items Total</div>
        <div class="fontsize1416 grey2">$292.99</div>
      </div>

      <div class="d-flex align-items-center justify-content-between mb-10">
        <div class="fontsize1416 grey2">Coins Redeemed (400 Coins)</div>
        <div class="fontsize1416 grey2">-$20.00</div>
      </div>

      <div class="d-flex align-items-center justify-content-between mb-10">
        <div class="fontsize1416 grey2">Tax (VAT@18%)</div>
        <div class="fontsize1416 grey2">$18.00</div>
      </div>

      <div class="d-flex align-items-center justify-content-between mb-10">
        <div class="fontsize1416 grey2">Shipping</div>
        <div class="fontsize1416 grey2">$22.00</div>
      </div>
      <hr class="mt-20 mb-20" />
      <div class="d-flex align-items-center justify-content-between mb-10">
        <div class="fontsize1416 black">Total</div>
        <div class="fontsize1416 black">$312.99</div>
      </div>
    </div>
  </div>

  <div class="bg-white pt-20 pb-10 mb-64">
    <div class="container">
      <div class="fontsize1616500 black mb-10">Delivery Address</div>

      <div class="fontsize1416 grey2 mb-6">Sam William</div>
      <div class="fontsize1416 grey2">
        HO. 434 London street, West London, 214321, UK
      </div>
    </div>
  </div>
</div>
