<div class="wrapbox">
  <div class="backwithshare grdbtn pt-27">
    <div class="innerbox">
      <div class="usericon" id="sidebarbtn">
        <a href="#" class="usericoninner">
          <img src="../../assets/image/svg/home.svg" />
        </a>
      </div>

      <div class="pagetitle pos_center">
        <img src="../../assets/image/svg/whitebrand_name.svg" alt="" />
      </div>

      <div class="rightsideoption">
        <div class="cartbtn">
          <img src="../../assets/image/svg/whitecart.svg" alt="" />
          <span class="num">2</span>
        </div>
        <div class="notification">
          <img src="../../assets/image/svg/whitenotfication.svg" alt="" />
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="container pt-20">
      <div class="productitemslist gridlist">
        <div class="items">
          <div class="wishlisticonactive">
            <img
              src="../../assets/image/svg/2wishlistactiveproduct.svg"
              alt="wishlist-icon"
            />
          </div>
          <div class="image">
            <img src="../../assets/image/img/tux.png" alt="2" />
          </div>
          <div class="textblock">
            <h4 class="productname">Tux</h4>
            <div class="moviename">
              <img src="../../assets/image/svg/movieicon.svg" alt="" />
              <span>The Grey Man</span>
            </div>
            <div class="pricebox">
              <div class="price">$180.00</div>
              <a href="#">Buy Now</a>
            </div>
          </div>
        </div>
        <div class="items">
          <div class="wishlisticonactive">
            <img
              src="../../assets/image/svg/2wishlistactiveproduct.svg"
              alt="wishlist-icon"
            />
          </div>
          <div class="image">
            <img src="../../assets/image/img/Black_Cap.png" alt="2" />
          </div>
          <div class="textblock">
            <h4 class="productname">Black Cap</h4>
            <div class="moviename">
              <img src="../../assets/image/svg/movieicon.svg" alt="" />
              <span>Harrington</span>
            </div>
            <div class="pricebox">
              <div class="price">$180.00</div>
              <a href="#">Buy Now</a>
            </div>
          </div>
        </div>
        <div class="items">
          <div class="wishlisticonactive">
            <img
              src="../../assets/image/svg/2wishlistactiveproduct.svg"
              alt="wishlist-icon"
            />
          </div>
          <div class="image">
            <img src="../../assets/image/img/tux.png" alt="2" />
          </div>
          <div class="textblock">
            <h4 class="productname">Tux</h4>
            <div class="moviename">
              <img src="../../assets/image/svg/movieicon.svg" alt="" />
              <span>The Grey Man</span>
            </div>
            <div class="pricebox">
              <div class="price">$180.00</div>
              <a href="#">Buy Now</a>
            </div>
          </div>
        </div>
        <div class="items">
          <div class="wishlisticonactive">
            <img
              src="../../assets/image/svg/2wishlistactiveproduct.svg"
              alt="wishlist-icon"
            />
          </div>
          <div class="image">
            <img src="../../assets/image/img/Black_Cap.png" alt="2" />
          </div>
          <div class="textblock">
            <h4 class="productname">Black Cap</h4>
            <div class="moviename">
              <img src="../../assets/image/svg/movieicon.svg" alt="" />
              <span>Harrington</span>
            </div>
            <div class="pricebox">
              <div class="price">$180.00</div>
              <a href="#">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-main-footer></app-main-footer>
