<div class="mainindex">
  <div class="landingpage">
    <div class="brandname">
      <p>Tap to</p>
      <img src="../../assets/image/svg/whitebrand_name.svg" alt="" />
    </div>
    <div class="brandlogo" routerLink="/main/home">
      <img src="../../assets/image/svg/logo.svg" alt="" />
      <div class="pulse-effect"></div>
    </div>
    <div class="brandslug">See it. Love it. Buy it!</div>
  </div>
</div>

<div class="swipupcard">
  <div class="container">
    <div class="heading_h3">
      <h3 class="h3heading">Trending</h3>
    </div>
    <h4 class="headingh4">Shows/Movies</h4>
  </div>
</div>
