.mat-form-field {
  display: block;
}

button.mat-raised-button.mat-button-disabled {
    color: white;
}

.type_creator {
  margin: 10px;
}

.type_creator_section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.type_creator_section_option {
  margin: 0 10px;
}
