<div class="wrapbox">
  <app-header></app-header>
  <section>
    <div class="container">
      <div class="sign_account">
        <div class="lgheading text-center">Sign in to your account</div>
        <ul class="listwithicon">
          <li>
            <img src="../../../assets/image/svg/checkicon.svg" alt="" /> View your
            wishlist
          </li>
          <li>
            <img src="../../../assets/image/svg/checkicon.svg" alt="" /> Find & manage
            your orders
          </li>
          <li>
            <img src="../../../assets/image/svg/checkicon.svg" alt="" /> Get
            recommendations
          </li>
        </ul>
        <button class="grdbtn button_xl w-100 mb-20" routerLink="/authentication/sign-in">
          Already a customer? Sign in
        </button>

        <button class="outline_btn_blue button_xl w-100 mb-20" routerLink="/authentication/sign-up-option">
          New to Vuugle? Create an account
        </button>

        <div class="Skip_line text-center">Skip Sign in</div>

        <hr class="row mb-30 mt-30" />
        <button class="outline_btn_purple button_xl w-100 mb-20 mt-20" routerLink="/authentication/content-creator-sign-up">
          Become a Vuugle Content Creator
        </button>

        <button class="outline_btn_pink button_xl w-100 mb-20" routerLink="merchant-sign-up">
          Become a Vuugle Merchant
        </button>
      </div>
    </div>
  </section>
</div>
