<div class="wrapbox">
  <div class="backwithshare grdbtn pt-27">
    <div class="innerbox striplne">
      <div class="usericon" id="sidebarbtn">
        <a href="#" class="usericoninner">
          <img src="../../assets/image/svg/user3.svg" />
        </a>
      </div>

      <div class="pagetitle pos_center">
        <img src="../../assets/image/svg/whitebrand_name.svg" alt="" />
      </div>

      <div class="rightsideoption">
        <div class="cartbtn">
          <img src="../../assets/image/svg/whitecart.svg" alt="" />
          <span class="num">2</span>
        </div>
        <div class="notification">
          <img src="../../assets/image/svg/whitenotfication.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <!--Show/Movies-->
  <app-show-movies></app-show-movies>
  <!--My Vuugles-->
  <app-my-vuugles></app-my-vuugles>
  <!--Recommendations-->
  <app-recommendations></app-recommendations>
</div>
<app-main-footer></app-main-footer>
