<section>
  <div class="container pt-20">
    <h3 class="fontsize1616500 mb-20">Recommendations</h3>
    <div class="productitemslist mr--15">
      <div class="items">
        <div class="image">
          <img
            src="../../assets/image/img/05e36463-7f7d-4cbd-b246-e7e1a804bffa 1.png"
            alt="2"
          />
        </div>
        <div class="textblock">
          <h4 class="productname">Tux</h4>
          <div class="moviename">
            <img src="../../assets/image/svg/movieicon.svg" alt="" />
            <span>The Grey Man</span>
          </div>
          <div class="pricebox">
            <div class="price">$180.00</div>
            <a href="#">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="items">
        <div class="image">
          <img
            src="../../assets/image/img/1105e36463-7f7d-4cbd-b246-e7e1a804bffa 1.png"
            alt="2"
          />
        </div>
        <div class="textblock">
          <h4 class="productname">Black Cap</h4>
          <div class="moviename">
            <img src="../../assets/image/svg/movieicon.svg" alt="" />
            <span>Harrington</span>
          </div>
          <div class="pricebox">
            <div class="price">$180.00</div>
            <a href="#">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="items">
        <div class="image">
          <img
            src="../../assets/image/img/05e36463-7f7d-4cbd-b246-e7e1a804bffa 1.png"
            alt="2"
          />
        </div>
        <div class="textblock">
          <h4 class="productname">Tux</h4>
          <div class="moviename">
            <img src="../../assets/image/svg/movieicon.svg" alt="" />
            <span>The Grey Man</span>
          </div>
          <div class="pricebox">
            <div class="price">$180.00</div>
            <a href="#">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="items">
        <div class="image">
          <img
            src="../../assets/image/img/1105e36463-7f7d-4cbd-b246-e7e1a804bffa 1.png"
            alt="2"
          />
        </div>
        <div class="textblock">
          <h4 class="productname">Black Cap</h4>
          <div class="moviename">
            <img src="../../assets/image/svg/movieicon.svg" alt="" />
            <span>Harrington</span>
          </div>
          <div class="pricebox">
            <div class="price">$180.00</div>
            <a href="#">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
