<div class="wrapbox">
  <div class="backwithshare grd2 pt-27">
    <div class="innerbox">
      <div class="backbtn">
        <!-- <a href="#"><img src="image\svg\whiteback.svg" /></a> -->
      </div>

      <div class="pagetitle">Payment Confirmation</div>

      <div></div>
    </div>
  </div>

  <section class="pb-20 pt-20 bg-white">
    <div class="container">
      <div class="payment_confirmation text-center">
        <img src="../../assets/image/svg/check_greenicon.svg" alt="" class="mt-20" />
        <p class="pt-16 fontsize1424400 black">
          Your order has been placed!<br />
          Thank you for shopping with us.
        </p>
        <h4 class="text-left pt-50 fontsize1616500 black mb-10">
          Order Details
        </h4>
        <div
          class="d-flex justify-content-between align-items-center mb-10"
        >
          <div class="fontsize1416500 grey2">Order Number</div>
          <div class="fontsize1416500 grey2">98724514</div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="fontsize1416500 grey2">Expected Delivery Date</div>
          <div class="fontsize1416500 grey2">18th Oct,22</div>
        </div>
      </div>
    </div>
  </section>

  <section class="pb-20 pt-20 text-center">
    <p>
      You can track the status of this order<br />
      through the
      <a routerLink="/order-details" class="decoration-none color3">“My Orders”</a> section
    </p>
  </section>
</div>
